body{
    background-image: url(09.jpg);
     background-size:cover;
 ;
     background-repeat: no-repeat;
 
 }

 #drop-menu {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}



ul#menu {
	margin:30px 0 0;
	padding: 0;
	list-style: none;
	float:left;
	width: 960px;
	background-color: #111;
	font-size:80%;
	
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	border-right: 1px solid #222;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:12px 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration:none;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

ul#menu li a:hover {
	background: #666;
	color:#fff
}

ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: #444;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

ul#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}

ul#menu ul a {
	padding:10px;
	width: 130px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

ul#menu ul a:hover {
	background-color: #1eb6f1;
	color:#fff
}

ul#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0;
}
 #lastoria{color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Lucida Sans';
text-align: center;
}
    