body
{background-image:url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Pusiano_%2855406746%29.jpeg)}


nav{background-color: lightpink;
margin-top: 0px;}


#about{color: white;}
nav li{  display: inline-block;
    margin: 0 130px;
    }
#home{color: white;}

#contact{color: white;}